body {
    background-image: url('https://pic.imgdb.cn/item/674a4f3ed0e0a243d4db541c.jpg');
    background-size: cover; /* 让图片覆盖整个背景 */
    background-position: center center; /* 背景居中 */
    background-attachment: fixed; /* 背景固定 */
}
